---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import countries from "@/data/countries.json";
import { getLangFromUrl, useTranslations, getStaticPaths } from '@/i18n/utils';

export { getStaticPaths };

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={`EMCAFFE - ${t('nav.contact')}`}>
  <Header />

<main class="mt-[255px] md:mt-[192px] mb-8 bg-[#FEFBED] flex flex-col items-center justify-center w-full px-6 md:px-12 py-10">
    <section class="w-full md:w-3/4 lg:w-2/3 bg-[#FEFBED] p-8">
    <h1 class="text-center font-[Chalkduster] text-3xl md:text-4xl mb-6 text-[#5C3F32]">
        {t("Contact.title")}
    </h1>

    <h2 class="text-center bg-black text-white text-lg md:text-xl font-semibold py-2 rounded-md mb-8">
        {t("Contact.subtitle")}
    </h2>

    <!-- Contact -->
     <form name="contact" method="POST" data-netlify="true" class="space-y-6">
        <!-- motif -->
         <div>
         <label class="block text-sm font-semibold mb-2 text-[#5C3F32]">
            {t("Contact.motif")} *
         </label>
         <select name="motif" class="w-full border rounded-md p-2 bg-white border-[#5C3F32]" required>
            <option>{t("Contact.selectMotif")}</option>
            <option>{t("Contact.motif.info")}</option>
            <option>{t("Contact.motif.comment")}</option>
            <option>{t("Contact.motif.produit")}</option>
            <option>{t("Contact.motif.remark")}</option>
            <option>{t("Contact.motif.available")}</option>
            <option>{t("Contact.motif.site")}</option>
            <option>{t("Contact.motif.other")}</option>
         </select>
         </div>

         <!-- civil + nom + prenom -->
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div>
                <label class="block text-sm font-semibold mb-2 text-[#5C3F32]">{t("Contact.civility")} *</label>
                <select class="w-full border border-[#5C3F32] rounded-md p-2 bg-white" required>
                    <option>M.</option>
                    <option>Mme</option>
                </select>
            </div>
            <div>
                <label class="block text-sm font-semibold mb-2 text-[#5C3F32]">{t("Contact.lastName")} *</label>
                <input type="text" class="w-full border border-[#5C3F32] rounded-md p-2" required>
            </div>
            <div>
                <label class="block text-sm font-semibold mb-2 text-[#5C3F32]">{t("Contact.firstName")} *</label>
                <input type="text" class="w-full border border-[#5C3F32] rounded-md p-2" required>
            </div>
          </div>

          <!-- adresse -->
           <div>
            <label class="block text-sm font-semibold text-[#5C3F32] mb-2">{t("Contact.address")} *</label>
            <input type="text" class="w-full border border-[#5C3F32] rounded-md p-2" required>
           </div>

           <!-- code postal + ville -->
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div>
                    <label class="block text-sm font-semibold text-[#5C3F32] mb-2">{t("Contact.postalCode")}  </label>
                    <input type="text" class="w-full border border-[#5C3F32] rounded-md p-2">
                </div>
                <div>
                    <label for="" class="block text-sm font-semibold mb-2 text-[#5C3F32]">{t("Contact.city")}</label>
                    <input type="text" class="w-full border border-[#5C3F32] rounded-md p-2">
                </div>
                <div>
                    <label class="block text-sm font-semibold text-[#5C3F32] mb-2">{t("Contact.country")} *</label>
                    <select class="w-full border border-[#5C3F32] rounded-md p-2" required>
                     {countries.map(country => (
                      <option value={country}>{country}</option>
                      ))}
                    </select>
                </div>
            </div>

            <!-- email + tele -->
             <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <label class="block text-sm font-semibold mb-2 text-[#5C3F32]">{t("Contact.email")} *</label>
                    <input type="email" class="w-full border border-[#5C3F32] rounded-md p-2" required>
                </div>
                <div>
                    <label  class="block text-sm font-semibold mb-2 text-[#5C3F32]">{t("Contact.phone")}</label>
                    <input type="tel" class="w-full border border-[#5C3F32] rounded-md p-2">
                </div>
             </div>

             <!-- message -->

             <div>
                <label class="block text-sm font-semibold mb-2 text-[#5C3F32]">{t("Contact.message")} *</label>
                <textarea rows="5" class="w-full border border-[#5C3F32] rounded-md p-2" required></textarea>
             </div>

             <!-- Consent -->
              <div class="flex items-center gap-2">
                <input type="checkbox" class="border-[#5C3F32]" required>
                <label class="text-sm text-[#5C3F32]">
                    {t("Contact.consent")} *
                </label>
              </div>

              <!-- Submit -->
               <div class="flex justify-center">
                <button type="submit" class="bg-black text-white px-8 py-3 font-bold rounded-md hover:bg-[#5C3F32] transition">
                    {t("Contact.submit")}
                </button> 
      </div>
     </form>
    </section>
</main>
  <Footer />
</Layout>
